/* ---------------------------------------- */
/* Movie Card */

.movies-list{
    margin-top: 90px;
}

.movie-card{
    width: 100%;
    margin-bottom: 60px;
    position: relative;
}

.movie-card_img{
    min-width: 100%;
}

.movie-card_info{
    padding-top: 15px;
}

.movie-name{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.movie-name:hover{
    color: #0466C9;
}

.pipe{
    width: 1px;
    height: 15px;
    opacity: 0.4;
    background: #FFF;
}

.movie-meta{
    display: flex;
    color: #ffffff80;
    gap: 10px;
    align-items: center;
}

.add-lib-btn{
    display: flex;
    width: 35px;
    height: 35px;
    padding: 12px 12px 13px 13px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #0466C9;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: ease;
    transition-duration: 200ms;
    border: none;
}

.add-lib-btn:hover{
    width: 180px;
    transition: ease;
    transition-duration: 200ms;
}

.movie-card-overlay{
    background-color: #000000;
    height: 100%;
    width: 100%;
}

.overlay-card{
    position: relative;
}

.movie-card-overlay:hover{
    background-color: #00000020;
    transition: ease;
    transition-duration: 200ms;
}

/* ---------------------------------------- */