/* ---------------------------------------- */
/* Global Styles */

body{
    background-color: #0F0F10;
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fredoka', sans-serif;
}

h1{
    font-size: 48px;
    color: white;
}


/* ---------------------------------------- */
/* Core structure */

.section-padding{
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .section-padding{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1200px) {
    .section-padding{
        padding-left: 60px;
        padding-right: 60px;
    }
}

/* ---------------------------------------- */
/* Library page */

.library-heading{
    padding-top: 90px;
    text-align: center;
}


/* ---------------------------------------- */
/* Filters */

.filter-buttons{
    margin-top: 30px;
    display: flexbox;
    justify-content: center;
    gap: 30px;

}

.all-movies-btn{
    display: flex;
    padding: 5px 20px;
    width: 175px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    border: #818489 solid 2px;
    font-size: 20px;
    color: white;
}

.all-movies-active{
    display: flex;
    padding: 5px 20px;
    width: 175px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #0466C9;
    font-size: 20px;
    color: white;
    border: none;
}

.dropdown{
    width: 175px;
    padding: 0;
}

.filter-button{
    display: flex;
    padding: 5px 20px;
    width: 175px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    border: #818489 solid 2px;
    font-size: 20px;
    color: white;
}

/* ---------------------------------------- */
/* Movie Cards */

.movies-list{
    margin-top: 90px;
}

.movie-card{
    width: 100%;
    height: 400px;
    background-color: #818489;
    margin-bottom: 60px;
}

.col-xxl-2{
    width: 20%;
}